@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:regular&display=swap);

body {
  background-color: #606060;
  font-family: "Roboto Mono";
  font-size: 18px;
}
.app {
  margin-top: 10%;
}
.app__container {
  max-width: 1000px;
  margin: 0 auto;
}
